[Unit]
Description=Enrolled existing ZFS home storage (%i)
After=local-fs.target zfs-import.target zfs-mount.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python3 -I /usr/libexec/fedora-zfs-storage run %i home
UMask=0077
TimeoutStartSec=120

[Install]
RequiredBy=systemd-user-sessions.service
