[Unit]
Description=Update system-wide Flatpak applications and runtimes
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --system --noninteractive
