[Unit]
Description=Periodic encrypted Borg backup of /home

[Timer]
OnActiveSec=15m
OnUnitInactiveSec=2h
Unit=home-borgmatic.service

[Install]
WantedBy=timers.target
